[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ansible role to bootstrap my environment on latest Fedora
[access "refs/*"]
	owner = group user/Carlos Camacho (ccamacho)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Carlos Camacho (ccamacho)
	label-Verified = -1..+1 group user/Carlos Camacho (ccamacho)
	push = group user/Carlos Camacho (ccamacho)
	read = group user/Carlos Camacho (ccamacho)
	rebase = group user/Carlos Camacho (ccamacho)
	removeReviewer = group user/Carlos Camacho (ccamacho)
	submit = group user/Carlos Camacho (ccamacho)
[access "refs/heads/*"]
	create = group user/Carlos Camacho (ccamacho)
	push = +force group user/Carlos Camacho (ccamacho)
	pushMerge = group user/Carlos Camacho (ccamacho)
	read = group user/Carlos Camacho (ccamacho)
[access "refs/tags/*"]
	push = group user/Carlos Camacho (ccamacho)
	push = +force group user/Carlos Camacho (ccamacho)
